/* ----------------------- CONTENTS --------
1. Common 
2. Body
3. Header
4. Navigation Menu
5. Section
6. Gallery
7. Slider
8. Map

functions

*/
@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
  background-color: #000;
  color: #adadad;
}

header {
  padding: 10px;
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

#navbar .logo {
  float: left;
}

#navbar .logo img {
  height: 20px;
}

#navbar .menuButton {
  margin: 1em;
  width: 20px;
  position: relative;
  z-index: 10;
  float: right;
  font-size: 0;
}

#navbar .menuButton::before, #navbar .menuButton::after,
#navbar .menuButton span {
  display: block;
  content: '';
  background-color: #fff;
  border-radius: 3px;
  height: 3px;
  margin: 4px 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#navbar .menuButton:hover {
  cursor: pointer;
}

#navbar .menuButton::before {
  background-color: #1e90ff;
}

#navbar .menuButton::after {
  background-color: #1e5000;
}

#navbar .menuButton span {
  background-color: #09bdbd;
}

#navbar .open::before {
  -webkit-transform: translateY(5px) rotate(135deg);
          transform: translateY(5px) rotate(135deg);
  background-color: #1e90ff;
}

#navbar .open::after {
  -webkit-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotate(-135deg);
  background-color: #1e5000;
}

#navbar .open span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#navbar .navOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  visibility: hidden;
}

#navbar .navOverlay.open {
  opacity: 1;
  visibility: visible;
}

#navbar .navOverlay ul.menu {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

#navbar .navOverlay ul.menu li {
  opacity: 0;
  list-style: none;
  -webkit-transition: translateY(20px);
  transition: translateY(20px);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#navbar .navOverlay.open ul.menu li {
  opacity: 1;
  -webkit-transition: translateY(0px);
  transition: translateY(0px);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#navbar .navOverlay.open ul.menu li a {
  font-size: 15px;
  line-height: 60px;
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#1e90ff), to(#1e5000));
  background-image: linear-gradient(to right, #1e90ff, #1e5000);
  color: transparent;
  text-decoration: none;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

#navbar .navOverlay.open ul.menu li a:hover {
  font-size: 20px;
  opacity: 0.8;
  -webkit-transition: font-size 0.5s, opacity 0.5s;
  transition: font-size 0.5s, opacity 0.5s;
}

#navbar .navOverlay.open ul.menu li:nth-child(1) {
  -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
  transition: opacity 0.5s 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
}

#navbar .navOverlay.open ul.menu li:nth-child(2) {
  -webkit-transition: opacity 0.7s 0.7s, -webkit-transform 0.7s 0.7s;
  transition: opacity 0.7s 0.7s, -webkit-transform 0.7s 0.7s;
  transition: opacity 0.7s 0.7s, transform 0.7s 0.7s;
  transition: opacity 0.7s 0.7s, transform 0.7s 0.7s, -webkit-transform 0.7s 0.7s;
}

#navbar .navOverlay.open ul.menu li:nth-child(3) {
  -webkit-transition: opacity 0.9s 0.9s, -webkit-transform 0.9s 0.9s;
  transition: opacity 0.9s 0.9s, -webkit-transform 0.9s 0.9s;
  transition: opacity 0.9s 0.9s, transform 0.9s 0.9s;
  transition: opacity 0.9s 0.9s, transform 0.9s 0.9s, -webkit-transform 0.9s 0.9s;
}

#navbar .navOverlay.open ul.menu li:nth-child(4) {
  -webkit-transition: opacity 1.1s 1.1s, -webkit-transform 1.1s 1.1s;
  transition: opacity 1.1s 1.1s, -webkit-transform 1.1s 1.1s;
  transition: opacity 1.1s 1.1s, transform 1.1s 1.1s;
  transition: opacity 1.1s 1.1s, transform 1.1s 1.1s, -webkit-transform 1.1s 1.1s;
}

#home {
  width: 100%;
  height: 100vh;
  display: table;
  background: url(../images/hero.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  z-index: 1;
}

#mainContainer {
  background-color: #000;
  height: 100vh;
  display: -ms-grid;
  display: grid;
}

#about {
  clear: both;
  background-image: url("../images/boats.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageSlider {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.imageSlider img {
  width: 100%;
  height: auto;
  position: absolute;
}

#contact {
  clear: both;
  background-image: url("../images/w1.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  display: -ms-grid;
  display: grid;
}

#contact .contactOverlay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#contact .mapSection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-left: 30px;
  width: 100%;
}

#contact .mapSection .mapFrame {
  width: 100%;
  height: 300px;
}

#contact .contactForm {
  height: 200px;
  padding: 5px 20px;
  margin: 0 auto;
}

#contact .contactForm input.submitBtn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e90ff), to(#1e5000));
  background-image: linear-gradient(to right, #1e90ff, #1e5000);
}

#contact .contactForm input, #contact .contactForm textarea {
  width: 80%;
  padding: 5px;
  margin: 3px 0 3px 0;
  border: 1px solid #252525;
  border-radius: 4px;
  resize: vertical;
  background-color: #222;
  color: #fff;
}

#contact .contactForm .action {
  width: 80%;
}

#contact .contactForm input.btnSend {
  background-color: #1e90ff;
  color: #fff;
  width: 125px;
  float: right;
  border: 1px solid #7baae6;
  float: right;
  clear: both;
  outline: none;
}

#contact .address {
  text-align: left;
  height: 120px;
  padding: 5px 20px;
}

#contact p {
  color: bisque;
}

#contact .formColumn p {
  font-size: 10pt;
}

.sectionHeader {
  position: relative;
  padding: 20px 0px 20px 30px;
}

.sectionTitle {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 900;
  letter-spacing: 5px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#1e90ff), to(#1e5000));
  background-image: linear-gradient(to right, #1e90ff, #1e5000);
}

.headerLine {
  height: 2px;
  width: 97%;
  margin-top: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1e90ff), to(#1e5000));
  background-image: linear-gradient(to right, #1e90ff, #1e5000);
}
/*# sourceMappingURL=style.css.map */